body{

	font-family: 'Alkatra', cursive;
	
	
}
:root{
	--color1: white;
	--color2: rgb(69, 56, 56);
	--color3:#FFB1F2;
	--color4:#593670;
	--color5:#eeecf1;

}


.main-box{
	background-color: var(--color4);
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	
	
	
}

.login-box{
	background-color: var(--color5);
	display: flex;
	flex:2 1 100px;
	flex-direction: column;
	gap: 30px;
	font-size: 0.5rem;
	border-radius: 5px 0 0 5px;
	
}


.login-box .back-arrow a{
	display: flex;
	text-decoration: none;
	color: var(--color2);
	flex: 1;
	padding: 15px 0 0 10px;
	
	
}
.login-box .back-arrow a i{
	margin-top: 0.5px;
	padding-right: 5px;
	
}

.login-box .header{
	display: flex;
	justify-content:space-around;
	flex: 1;
	
}

.login-box .text-login{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
		  
}

.login-box .text-login input{
	background-color: var(--color5);
	border: none;
	border-bottom: 2px solid var(--color2);
}

.login-box .button{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	
	
	
}
.login-box .button a{
	text-decoration: none;
	color: var(--color1);
	background-color:var(--color4) ;
	padding: 10px 40px;
	border-radius: 10px;
	margin-bottom: 30px ;

	
}


.image-box{
	display: flex;
	flex: 3 1 100px;
	background-image: url(../img/bg-login.jpg);
	background-size: cover ;
	background-position: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0 5px 5px 0;
	

	

}


.image-box h1,h6{
	display: flex;
	margin: 0.3rem;
	padding: 0;
	color: var(--color1);
	

}
/*
.image-box h6{
	display: flex;
	margin: 0.3rem;
	padding: 0;
	color: var(--color1);
	
	
} */