.chk-mode{
    display: none;
}
.chk-mode:checked + .content{
    background-color: bisque;
    color: blueviolet;

}

.btn-mode{
    background-color: aqua;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}