body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Lora', serif;
    ;
   
}

.h1{
    font-family: 'Nunito Sans', sans-serif
    
    
}
h1.title{
    text-decoration:underline rgb(255, 5, 5);
    font-style: italic;
    font-weight:600;
    font-variant:normal;
}